EXPO_PUBLIC_API_URL=http://localhost:4001

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_EXPO_PROJECT_FULL_NAME=@tu-usuario/padelpoint

EXPO_PUBLIC_DEMO_MODE=false
